@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&display=swap");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background: #02010a;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2 {
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* navbar */

.navbar {
  /* background-color: #666666; */
  color: #fff;
  opacity: 0.95;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 0 10px;
}

.navbar a {
  padding: 10px 5px;
  margin: 0 3px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: #fff;
}

.navbar a:hover {
  border-bottom: #e81360 2px solid;
}

.navbar a.logo:hover {
  border-bottom: none;
}

.navbar .main-nav {
  display: none;
}

.navbar .main-nav li {
  text-align: center;
  margin: 10px auto;
}

.navbar .logo {
  display: inline-block;
}
.navbar img {
  height: 50px;
  width: 50px;
}

.navbar .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar .active {
  display: block;
  margin-top: 150px;
}

.navbar.navBack {
  background: #666666;
  transition: background 0.3s ease-in;
  z-index: 11;
  height: 100vh;
}

/* header */

.hero {
  background: url("../images/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  height: 100%;
  margin: 0 70px;
  padding: 0 10px;
}

.hero .content h1 {
  font-size: 75px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.hero .content p {
  font-size: 30px;
  max-width: 600px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  background: url("../images/blog2.jpg") no-repeat center center/cover;
  height: 50vh;
}

.hero.about {
  height: 50vh;
}

/* cursor effect */

.txt-type > .txt {
  border-right: 0.1rem solid #666666;
}

/* icons  */

.icons {
  padding: 30px;
}

.icons h3 {
  margin-bottom: 15px;
}

.icons i {
  color: #e81360;
  padding: 1rem;
  /* margin-bottom: 15px; */
}

/* contact */

#contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 150px;
}

.footer a:hover {
  color: #e81360;
}

.footer .social > * {
  width: 100%;
  margin: 10px;
}

.footer .bl-logo {
  display: flex;
}

.footer .bl-logo p {
  font-size: 0.8rem;
}

.footer .bl-logo img {
  width: 9rem;
}
/* blog */

.post {
  padding: 50px;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-justify: inter-word;
  text-align: justify;
}

.post h2 {
  font-size: 2.2rem;
  margin: 20px 0;
  border-bottom: #511c74 solid 2px;
  padding-bottom: 10px;
}

.post p,
ul {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

.post img {
  width: 400px;
  margin: 40px;
  border-radius: 5px;
}

.post ul {
  list-style: circle;
}

/* faq */

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
  overflow: hidden;
}

.accordion ul {
  list-style: circle;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  color: #e81360;
}

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  /* background: #02010a; */
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

/* mobile */

@media (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #666666;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
    z-index: 11;
  }

  .navbar.top {
    background: transparent;
  }

  .navbar a {
    padding: 10px 20px;
    margin: 0 5px;
    font-family: "Oswald", sans-serif;
  }

  .navbar a:hover {
    border-bottom: #e81360 2px solid;
  }

  .navbar a.logo:hover {
    border-bottom: none;
  }

  .navbar .main-nav {
    display: flex;
  }

  .navbar .main-nav ul {
    display: flex;
  }
  .navbar img {
    height: 70px;
    width: 70px;
  }

  .navbar .navbar-toggle {
    display: none;
  }

  .navbar.navBack {
    height: 80px;
  }

  .navbar .active {
    display: block;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .hero .content {
    margin: 0 30px;
    padding: 0 10px;
  }

  .hero .content h1 {
    font-size: 50px;
  }

  .hero .content p {
    font-size: 20px;
  }

  .hero .content.extra h1 {
    /* font-size: 40px;
    margin-top: 70px; */
    display: none;
  }

  .hero.blog,
  .hero.about {
    height: 5.5rem;
  }

  .flex-items {
    flex-direction: column;
  }

  .team-members {
    flex-direction: column;
  }

  .team-members img {
    width: 70%;
    height: 70%;
    border-radius: 5px;
  }

  .flex-columns .column {
    flex: 100%;
    max-width: 100%;
  }
  .post {
    padding: 20px;
    margin: 0 50px;
    text-align: initial;
  }

  .post img {
    width: 300px;
  }

  .accordion {
    margin: 0 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
  }

  .footer .bl-logo img {
    width: 7rem;
  }
}
