/* text colors */

.text-primary {
  color: #e81360;
}

.text-secondary {
  color: #511c74;
}

/* current */

.current {
  border-bottom: #e81360 2px solid;
}

/* buttons */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px;
  color: #fff;
  background: #e81360;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
  background: #511c74;
}

.btn-secondary {
  color: #fff;
  background: #511c74;
}

/* backgrounds */

.bg-dark {
  background: #1f1f1f;
}

/* section header */

.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-header h2 {
  font-size: 2.2rem;
  margin: 20px 0;
  border-bottom: #511c74 solid 2px;
}

/* flex items */

.flex-items {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  flex: 1;
}

.flex-items > div {
  padding: 20px;
}

/* flex columns */

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
}

.flex-columns h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  border-bottom: #511c74 solid 2px;
}

.flex-columns p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns a {
  margin-top: 20px;
}

/* team members */

.team-members {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.team-members img {
  width: 70%;
  height: 70%;
  border-radius: 5px;
}

.team-members img:hover {
  opacity: 0.7;
}

.team-members p,
.team-members a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

.team-members a:hover {
  color: #e81360;
}

.team-members > div {
  padding: 20px;
}
